In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

from platform import python_version

In [2]:
python_version()

'3.10.8'

# 1. Acquire, Prepare, Split Data

In [6]:
df = pd.read_csv('Churn.csv')

In [7]:
X = pd.get_dummies(df.drop(['Churn','Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [9]:
X_train.head(1)

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
3459,0,26,88.8,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# 1. Build & Compile Model

In [10]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

# 2. Fit

In [ ]:
model.fit(X_train, y_train, epochs=200, batch_size=32)

# 3. Predict & Evaluate

In [ ]:
y_hat = model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

In [ ]:
accuracy_score(y_test, y_hat)

In [ ]:
model.save('tfmodel')

# 6. Saving & Reloading

In [ ]:
del model

In [ ]:
model = load_model('tfmodel')