In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('Churn.csv')

In [14]:
X = pd.get_dummies(df.drop(['Churn','Customer ID'], axis=1))

In [15]:
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [20]:
X_train.head(1)

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
3210,0,1,93.85,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
y_train.head(1)

3210    1
Name: Churn, dtype: int64

# 1. Import Dependencies

In [21]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'tensorflow'